<div class="container" ng-controller="adminProducts">
    <div class="row my-4">
        <div class="col-sm-12">
            <h2>Admin</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form method="post" action="php/append_json.php" enctype="multipart/form-data">
                <table class="table table-bordered bg-white">
                    <tr>
                        <td>Name</td>
                        <td>
                            <input type="text" class="form-control" name="name" ng-model="item.name" /></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            <input type="text" class="form-control" name="description" ng-model="item.description" /></td>
                    </tr>
                    <tr>
                        <td>Photo</td>
                        <td>
                            <input type="file" class="form-control" name="url" ng-model="item.url" /></td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            <input type="text" class="form-control" name="category" ng-model="item.category" /></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>
                            <input type="number" class="form-control" name="price" ng-model="item.price" /></td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="2">
                            <button type="submit" name="submit" class="btn btn-primary">
                                Add
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
            <table class="table table-bordered bg-white">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Photo</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>
                            <span>{{item.id}}</span>
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.name}}</span>
                            <input type="text" ng-show="editMode" ng-model="item.name" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.description}}</span>
                            <input type="text" ng-show="editMode" ng-model="item.description" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.url}}</span>
                            <input type="file" ng-show="editMode" ng-model="item.url" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.category}}</span>
                            <input type="text" ng-show="editMode" ng-model="item.category" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.price}}</span>
                            <input type="number" ng-show="editMode" ng-model="item.price" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark" ng-hide="editMode" ng-click="editMode = true; editItem(item)">Edit</button>
                            <button type="button" class="btn btn-success" ng-show="editMode" ng-click="editMode = false">Save</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="removeItem($index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>