<div class="container" ng-controller="adminProducts">
    <div class="row my-4">
        <div class="col-sm-12">
            <h2>Admin</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form method="post" action="php/append_json.php" enctype="multipart/form-data">
                <table class="table table-bordered bg-white">
                    <tr>
                        <td>Name</td>
                        <td>
                            <input type="text" class="form-control" name="name" ng-model="item.name" /></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            <input type="text" class="form-control" name="description" ng-model="item.description" />
                        </td>
                    </tr>
                    <tr>
                        <td>Photo</td>
                        <td>
                            <input type="file" name="url" ng-model="item.url" /></td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            <input type="text" class="form-control" name="category" ng-model="item.category" /></td>
                    </tr>
                    <tr>
                        <td>Featured</td>
                        <td>
                            <input type="checkbox" class="form-check-input ml-0" name="featured"
                                ng-model="item.featured" /></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>
                            <input type="number" class="form-control" name="price" ng-model="item.price" /></td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="2">
                            <button type="submit" name="submit" class="btn btn-primary">
                                Add
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
            <table class="table table-bordered bg-white">
                <!--<thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Photo</th>
                        <th>Featured</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>-->
                <tbody>
                    <tr ng-repeat="item in items">
                        <td class="p-0">
                            <form method="post" action="php/append_json.php" enctype="multipart/form-data">
                                <table class="table table-borderless m-0">
                                    <tr class="row m-0">
                                        <td class="col">
                                            <span>{{item.id}}</span>
                                            <input type="hidden" ng-model="item.id" name="id" value="{{item.id}}" />
                                        </td>
                                        <td class="col-1">
                                            <span><img ng-src="{{item.url}}" width="80" height="50" /></span>
                                            <input type="hidden" name="current_url" ng-model="current_url" value="{{item.url}}"/>
                                            <input type="file" ng-show="editMode" name="url" ng-model="item.url" />
                                        </td>
                                        <td class="col-2">
                                            <span ng-hide="editMode">{{item.name}}</span>
                                            <input type="text" ng-show="editMode" name="name" ng-model="item.name" />
                                        </td>
                                        <td class="col-3">
                                            <span ng-hide="editMode">{{item.description}}</span>
                                            <input type="text" ng-show="editMode" name="description"
                                                ng-model="item.description" />
                                        </td>
                                        <td class="col-1">
                                            <span ng-hide="editMode">{{item.featured}}</span>
                                            <input type="checkbox" ng-show="editMode" name="featured"
                                                ng-model="item.featured" />
                                        </td>
                                        <td class="col-1">
                                            <span ng-hide="editMode">{{item.category}}</span>
                                            <input type="text" ng-show="editMode" name="category"
                                                ng-model="item.category" />
                                        </td>
                                        <td class="col-1">
                                            <span ng-hide="editMode">{{item.price}}</span>
                                            <input type="number" ng-show="editMode" name="price"
                                                ng-model="item.price" />
                                        </td>
                                        <td class="col-2">
                                            <input type="hidden" ng-model="item.disabled" name="disabled"
                                                value="{{item.disabled}}" />
                                            <button type="button" class="btn btn-dark" ng-hide="editMode"
                                                ng-click="editMode = true; editItem(item)">Edit</button>
                                            <button type="submit" class="btn btn-success" name="submit"
                                                ng-show="editMode" ng-click="editMode = false">Save</button>
                                            <button type="submit" class="btn btn-danger" name="submit"
                                                ng-model="item.disabled" ng-init="true" ng-hide="item.disabled">Disable</button>
                                            <button type="submit" class="btn btn-success" name="submit"
                                                ng-click="disabled = true" ng-show="item.disabled">Enable</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>