<div class="container" ng-controller="productSingle">
    <h2 class="my-4">Product {{id}}</h2>
    <div class="row">
        <div class="col-lg-12" ng-repeat="product in products | filter:selectedProduct">
            <div class="card mb-4">
                <img ng-src="{{product.url}}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <h5 class="card-title">{{product.price | currency}}</h5>
                    <button class="btn btn-info">Buy <i class="fa fa-shopping-cart" aria-hidden="true" ng-click="addItem(item)"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>