<div class="container" ng-controller="productsList">
    <div class="form-group row mt-4">
        <div class="col-sm-6 col-md-8 col-lg-4">
            <h2>Products</h2>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-offset-4">
            <select class="form-control" data-ng-model='selectedSortOrder'
                data-ng-options="k as v for (k,v) in {'+name': 'Name: (A-Z)','-name': 'Name: (Z-A)', '+category': 'Category: (A-Z)', '-category': 'Category: (Z-A)', '+price': 'Price: (Low to High)', '-price': 'Price: (High to Low)' }"
                data-ng-init="selectedSortOrder='+name'">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <div class="form-group row bar bg-info">
                <div class="col-6 col-md-4"><input type="text" class="form-control" ng-model="searchProduct"
                        placeholder="Search products"></div>
                <div class="col-6 col-md-8 text-right">
                    <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
                    <a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
                </div>
            </div>

            <div class="row grid" ng-show="layout == 'grid'">
                <div class="col-md-6 col-sm-12"
                    ng-repeat="item in products | filter: searchProduct | orderBy: selectedSortOrder">
                    <div class="card mb-3">
                        <div class="card-img" style='background-image: url({{item.url}})'></div>
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="text-info">{{item.category}}</p>
                            <p class="card-text">{{item.description}}</p>
                            <h5 class="card-title">{{item.price | currency}}</h5>
                            <div class="form-inline">
                                <a href ng-href="#!/products/{{item.id}}" class="btn btn-dark">View</a>
                                <input type="number" ng-init="item.qty=1" ng-model="item.qty"
                                    class="qty form-control ml-2">
                                <button class="btn btn-info ml-2" ng-click="addItem(item)">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list" ng-show="layout == 'list'">
                <div class="card mb-4"
                    ng-repeat="item in products | filter: searchProduct | orderBy: selectedSortOrder">
                    <div class="row no-gutters">
                        <div class="col-lg-5 col-md-12 card-img" style='background-image: url({{item.url}})'>
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p class="text-info">{{item.category}}</p>
                                <p class="card-text">{{item.description}}</p>
                                <h5 class="card-title">{{item.price | currency}}</h5>
                                <div class="form-inline">
                                    <a href ng-href="#!/products/{{item.id}}" class="btn btn-dark">View</a>
                                    <input type="number" ng-init="item.qty=1" ng-model="item.qty"
                                        class="qty form-control ml-2">
                                    <button class="btn btn-info ml-2" ng-click="addItem(item)">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item active bg-dark border-0 p-3">Your Cart</li>
                <li class="list-group-item p-3" ng-repeat="item in cart | orderBy:'name'">
                    <div><strong>{{ item.qty + ' x ' + item.name}}</strong></div>
                    <span>{{ getCost(item) | currency }}</span>
                    <span class="btn btn-dark btn-sm float-right" ng-click="removeItem(item);">X</span>
                </li>
            </ul>
            <ul class="list-group mb-3" ng-if="getTotal()==0">
                <li class="list-group-item p-3">Your shopping cart is empty!</li>
            </ul>
            <ul class="list-group my-3" ng-if="getTotal()!=0">
                <li class="list-group-item p-3">
                    <h5 class="d-inline">Total: {{ getTotal() | currency }}</h5>
                    <button type="button" class="btn btn-danger btn-block my-3" ng-click="clearCart();">Clear
                        Cart</button>
                    <button type="button" class="btn btn-secondary btn-block" disabled>Proceed to checkout</button>
                </li>
            </ul>
        </div>
    </div>
</div>